WCFTiendaTest/Service References/VentaWS/VentaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VentaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:20000/VentaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:20000/VentaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFTiendaServices.Errores" />
      <xsd:import schemaLocation="http://localhost:20000/VentaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:20000/VentaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFTiendaServices.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVentaService_Vender_InputMessage">
    <wsdl:part name="parameters" element="tns:Vender" />
  </wsdl:message>
  <wsdl:message name="IVentaService_Vender_OutputMessage">
    <wsdl:part name="parameters" element="tns:VenderResponse" />
  </wsdl:message>
  <wsdl:message name="IVentaService_Vender_ClienteInexistenteErrorFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WCFTiendaServices.Errores" name="detail" element="q1:ClienteInexistenteError" />
  </wsdl:message>
  <wsdl:message name="IVentaService_ListarVentas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarVentas" />
  </wsdl:message>
  <wsdl:message name="IVentaService_ListarVentas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarVentasResponse" />
  </wsdl:message>
  <wsdl:portType name="IVentaService">
    <wsdl:operation name="Vender">
      <wsdl:input wsaw:Action="http://tempuri.org/IVentaService/Vender" message="tns:IVentaService_Vender_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVentaService/VenderResponse" message="tns:IVentaService_Vender_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IVentaService/VenderClienteInexistenteErrorFault" name="ClienteInexistenteErrorFault" message="tns:IVentaService_Vender_ClienteInexistenteErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarVentas">
      <wsdl:input wsaw:Action="http://tempuri.org/IVentaService/ListarVentas" message="tns:IVentaService_ListarVentas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVentaService/ListarVentasResponse" message="tns:IVentaService_ListarVentas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVentaService" type="tns:IVentaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Vender">
      <soap:operation soapAction="http://tempuri.org/IVentaService/Vender" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ClienteInexistenteErrorFault">
        <soap:fault use="literal" name="ClienteInexistenteErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarVentas">
      <soap:operation soapAction="http://tempuri.org/IVentaService/ListarVentas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VentaService">
    <wsdl:port name="BasicHttpBinding_IVentaService" binding="tns:BasicHttpBinding_IVentaService">
      <soap:address location="http://localhost:20000/VentaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>